{% extends 'base.html' %}
{% block title %}
Course Detail
{% endblock %}
{% block content %}

{% if course.instructor == user %}
<div class="container">
<h1>{{ course.get_long_title }}</h1>
</div>
<br>
<div class="container">
<h2>Course Information</h2>
<ul>
    <li>
        <strong>Term:</strong> {{ course.term }}
    </li>
    <li>
        <strong>Tutor:</strong> {{ course.instructor }}
    </li>
    <li>
        <strong>Is the course active?:</strong> {{ course.is_active }}
    </li>
</ul>
</div>
<br>
<div class="container">
    <h2>Create a New Lecture</h2> <br>
    <div class="container">
        <a href="{% url 'create_lecture' course.id %}">Create a new lecture</a>
    </div>
</div>
<br>
<div class="container">
<h2>View Exsiting Lectures</h2>
<ul>
    {% for lecture in course.lecture_set.all %}
    <li>
        <div class="container">
            <p> <strong>Week {{ lecture.week }}---{{ lecture.title }}</strong> <a href="{% url 'lecture_detail' course.id lecture.id %}">View/Edit/Delete Lecture</a></p>
            <ul>
                <li>
                    <strong>Syllabus:</strong> {{ lecture.syllabus }}
                </li>
                <li>
                    <strong>Notes: </strong>
                    {% if lecture.uploadnote_set.all %}
                    <ul>
                        {% for note in lecture.uploadnote_set.all %}
                            <li>
                                Download Notes: <a href="{{ note.document.url }}" download="{{ note.document.url }}">{{ note.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>
                            You don't have any notes uploaded yet.
                        </p>
                    {% endif %}
                </li>
                <li>
                    <strong>Videos: </strong>
                    {% if lecture.uploadvideo_set.all %}
                    <ul>
                        {% for video in lecture.uploadvideo_set.all %}
                            <li>
                                <video width="300" height="240" controls>
                                    <source src="{{ video.document.url }}" type="video/mp4">
                                    Your browser does not support video tag.
                                </video>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>
                        You don't have any videos uploaded yet.
                    </p>
                    {% endif %}
                </li>
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
</div>
{% else %}
<h2>You are not the instructor of this course</h2>
{% endif %}
<div class="container">
    <a href="{% url 'my_teaching_courses' %}">Back to my courses</a>
</div>
{% endblock %}