{% extends 'base.html' %}

{% block content %}

{% if course.instructor == user %}
<h1>{{ course.get_title }}</h1>
<ul>
    {% for lecture in lectures %}
        <li>
            <a href="#">{{ lecture.title }}</a>
            <ul>
                <li>
                    <strong>Syllabus</strong>
                    <p>{{ lecture.syllabus }}</p>
                </li>
                <li>
                    <strong>Notes</strong> <br>
                    {% for note in lecture.uploadnote_set.all %}
                        <a href="{{ note.document.url }}" download="{{ note.document.url }}">Download {{ note.document }}</a> <br>
                    {% endfor %}
                </li>
                <li>
                    <strong>Videos</strong> <br>
                    {% for video in lecture.uploadvideo_set.all %}
                        <video width="300" height="240" controls>
                            <source src="{{ video.document.url }}" type="video/mp4">
                            Your browser does not support video tag.
                        </video>
                    {% endfor %}
                </li>
            </ul>
        </li>
    {% endfor %}
</ul>
<br>
<br>
<a href="#">Create a new lecture</a>
{% else %}
<h2>You are not the instructor of this course</h2>
{% endif %}
{% endblock %}